@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&amp;family=Poppins:wght@100;200;300;400;500;600;700;800;900&amp;family=Roboto+Mono:wght@300;400;500;600;700&amp;display=swap");

html,
body {
    width: 100%;
    height: 100%
}

body {
    overflow-x: hidden;
    position: relative;
    z-index: 1;
    background: #f2f5f8;
    min-height: 100%;
    color: #838485
}

body h1,
body h2,
body h3,
body h4,
body h5,
body h6 {
    color: black
}

body a:not([class*='button'], .link-decoration, .nav-link) {
    color: #838485
}

body a:not([class*='button'], .link-decoration, .nav-link):hover,
body a:not([class*='button'], .link-decoration, .nav-link):focus {
    color: black
}

.theme-dark {
    background: black;
    color: rgba(255, 255, 255, 0.7)
}

.theme-dark h1,
.theme-dark h2,
.theme-dark h3,
.theme-dark h4,
.theme-dark h5,
.theme-dark h6 {
    color: white
}

.theme-dark h1 a,
.theme-dark h2 a,
.theme-dark h3 a,
.theme-dark h4 a,
.theme-dark h5 a,
.theme-dark h6 a {
    color: rgba(255, 255, 255, 0.8)
}

.theme-dark h1 a:hover,
.theme-dark h1 a:focus,
.theme-dark h2 a:hover,
.theme-dark h2 a:focus,
.theme-dark h3 a:hover,
.theme-dark h3 a:focus,
.theme-dark h4 a:hover,
.theme-dark h4 a:focus,
.theme-dark h5 a:hover,
.theme-dark h5 a:focus,
.theme-dark h6 a:hover,
.theme-dark h6 a:focus {
    color: white
}

.theme-dark a:not([class*='button'], .link-decoration, .nav-link) {
    color: rgba(255, 255, 255, 0.8)
}

.theme-dark a:not([class*='button'], .link-decoration, .nav-link):hover,
.theme-dark a:not([class*='button'], .link-decoration, .nav-link):focus {
    color: white
}

.container,
.container-fluid {
    position: relative
}

.sections-wrapper {
    padding-bottom: 3em
}

@media (max-width: 767.98px) {
    .sections-wrapper {
        padding-bottom: 1.5em
    }
}

.section-box {
    background: white;
    border-radius: 0.5em;
    padding: 3em;
    -webkit-box-shadow: 0 8px 26px 0 rgba(22, 24, 26, 0.07);
    box-shadow: 0 8px 26px 0 rgba(22, 24, 26, 0.07);
    -webkit-transition: ease-out 0.16s;
    transition: ease-out 0.16s
}

.section-box:hover {
    -webkit-box-shadow: 0 8px 32px 0 rgba(22, 24, 26, 0.11);
    box-shadow: 0 8px 32px 0 rgba(22, 24, 26, 0.11)
}

@media (max-width: 991.98px) {
    .section-box {
        padding: 2.5em 2em
    }
}

@media (max-width: 767.98px) {
    .section-box {
        padding: 2em 1.5em
    }
}

.theme-dark .section-box {
    background: #1c1e20;
    -webkit-box-shadow: none;
    box-shadow: none
}

.theme-dark .section-box:hover {
    -webkit-box-shadow: none;
    box-shadow: none
}

.bg-lines {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%
}

.bg-lines .bg-line-1,
.bg-lines .bg-line-2,
.bg-lines .bg-line-3,
.bg-lines .bg-line-4 {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    border-right: 1px solid #dcdfe2
}

.bg-lines .bg-line-1:before,
.bg-lines .bg-line-2:before,
.bg-lines .bg-line-3:before,
.bg-lines .bg-line-4:before {
    content: '';
    position: absolute;
    top: -80px;
    right: -1px;
    background: linear-gradient(transparent, rgba(0, 0, 0, 0.5));
    width: 1px;
    height: 80px;
    -webkit-animation: bgLine 8s linear infinite;
    animation: bgLine 8s linear infinite
}

.bg-lines .bg-line-1 {
    width: 20%
}

.bg-lines .bg-line-2 {
    width: 40%
}

.bg-lines .bg-line-2:before {
    -webkit-animation-delay: 2s;
    animation-delay: 2s
}

.bg-lines .bg-line-3 {
    width: 60%
}

.bg-lines .bg-line-3:before {
    -webkit-animation-delay: 4s;
    animation-delay: 4s
}

.bg-lines .bg-line-4 {
    width: 80%
}

.bg-lines .bg-line-4:before {
    -webkit-animation-delay: 6s;
    animation-delay: 6s
}

@media (max-width: 991.98px) {
    .bg-lines .bg-line-1 {
        width: 25%
    }

    .bg-lines .bg-line-2 {
        width: 50%
    }

    .bg-lines .bg-line-3 {
        width: 75%
    }

    .bg-lines .bg-line-4 {
        display: none
    }
}

.theme-dark .bg-lines .bg-line-1,
.theme-dark .bg-lines .bg-line-2,
.theme-dark .bg-lines .bg-line-3,
.theme-dark .bg-lines .bg-line-4 {
    border-color: rgba(255, 255, 255, 0.2)
}

.theme-dark .bg-lines .bg-line-1:before,
.theme-dark .bg-lines .bg-line-2:before,
.theme-dark .bg-lines .bg-line-3:before,
.theme-dark .bg-lines .bg-line-4:before {
    background: linear-gradient(transparent, rgba(255, 255, 255, 0.7))
}

@-webkit-keyframes bgLine {
    0% {
        top: -80px
    }

    100% {
        top: 100%
    }
}

@keyframes bgLine {
    0% {
        top: -80px
    }

    100% {
        top: 100%
    }
}

.link-decoration {
    color: rgba(0, 0, 0, 0.9)
}

.link-decoration:hover,
.link-decoration:focus {
    color: black;
    text-decoration: underline
}

.theme-dark .link-decoration,
.toggle-menu .link-decoration {
    color: white
}

.theme-dark .link-decoration:hover,
.theme-dark .link-decoration:focus,
.toggle-menu .link-decoration:hover,
.toggle-menu .link-decoration:focus {
    color: white
}

.box-shadow {
    -webkit-box-shadow: 0 8px 26px 0 rgba(22, 24, 26, 0.11);
    box-shadow: 0 8px 26px 0 rgba(22, 24, 26, 0.11);
    -webkit-transition: ease-out 0.16s;
    transition: ease-out 0.16s
}

.box-shadow:hover {
    -webkit-box-shadow: 0 8px 32px 0 rgba(22, 24, 26, 0.15);
    box-shadow: 0 8px 32px 0 rgba(22, 24, 26, 0.15)
}

.border-radius {
    border-radius: 0.5em;
    overflow: hidden
}

.border-radius-1 {
    border-radius: 1em;
    overflow: hidden
}

.border-radius-2 {
    border-radius: 2em;
    overflow: hidden
}

.hero-avatar {
    position: relative
}

.hero-avatar img {
    width: 100%;
    height: auto;
    max-width: 256px;
    max-height: 256px;
    border-radius: 50%
}

.hero-avatar .hero-avatar-text {
    position: absolute;
    bottom: 1em;
    left: 0.5em;
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(5px);
    border-radius: 2em;
    padding: 0.5em 1em;
    color: white;
    font-family: "Roboto Mono", monospace;
    font-weight: 400;
    font-size: 0.9em;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    -webkit-box-shadow: 0 8px 26px 0 rgba(22, 24, 26, 0.11);
    box-shadow: 0 8px 26px 0 rgba(22, 24, 26, 0.11)
}

.hero-avatar .hero-avatar-text * {
    color: white !important
}

.theme-dark .hero-avatar .hero-avatar-text {
    background: rgba(255, 255, 255, 0.5);
    color: black;
    font-weight: 500
}

.theme-dark .hero-avatar .hero-avatar-text * {
    color: black !important
}

input:not(.form-check-input),
textarea {
    background: transparent;
    width: 100%;
    border: 1px dashed rgba(0, 0, 0, 0.2);
    border-top-width: 0;
    border-right-width: 0;
    border-bottom-width: 1px;
    border-left-width: 0;
    margin-bottom: 2rem;
    padding: 0 0 1rem;
    box-shadow: none;
    font: 400 14px "Open Sans", sans-serif;
    -webkit-transition: ease-out 0.16s;
    transition: ease-out 0.16s
}

input:not(.form-check-input):focus,
input:not(.form-check-input):active,
textarea:focus,
textarea:active {
    outline: 0;
    box-shadow: none;
    border-color: black
}

textarea {
    height: 140px
}

input:not(.form-check-input),
textarea,
.form-control {
    color: black
}

input:not(.form-check-input)::-webkit-input-placeholder,
textarea::-webkit-input-placeholder,
.form-control::-webkit-input-placeholder {
    color: #aaabac
}

input:not(.form-check-input)::-moz-placeholder,
textarea::-moz-placeholder,
.form-control::-moz-placeholder {
    color: #aaabac
}

input:not(.form-check-input):-ms-placeholder,
textarea:-ms-placeholder,
.form-control:-ms-placeholder {
    color: #aaabac
}

input:not(.form-check-input)::-ms-placeholder,
textarea::-ms-placeholder,
.form-control::-ms-placeholder {
    color: #aaabac
}

input:not(.form-check-input)::placeholder,
textarea::placeholder,
.form-control::placeholder {
    color: #aaabac
}

label {
    font-size: 14px
}

.required:after {
    content: '*';
    padding-left: 3px
}

.theme-dark input:not(.form-check-input),
.theme-dark textarea,
.theme-dark .form-control {
    background: transparent;
    border-color: rgba(255, 255, 255, 0.2);
    color: rgba(255, 255, 255, 0.7)
}

.theme-dark input:not(.form-check-input)::-webkit-input-placeholder,
.theme-dark textarea::-webkit-input-placeholder,
.theme-dark .form-control::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.5)
}

.theme-dark input:not(.form-check-input)::-moz-placeholder,
.theme-dark textarea::-moz-placeholder,
.theme-dark .form-control::-moz-placeholder {
    color: rgba(255, 255, 255, 0.5)
}

.theme-dark input:not(.form-check-input):-ms-placeholder,
.theme-dark textarea:-ms-placeholder,
.theme-dark .form-control:-ms-placeholder {
    color: rgba(255, 255, 255, 0.5)
}

.theme-dark input:not(.form-check-input)::-ms-placeholder,
.theme-dark textarea::-ms-placeholder,
.theme-dark .form-control::-ms-placeholder {
    color: rgba(255, 255, 255, 0.5)
}

.theme-dark input:not(.form-check-input)::placeholder,
.theme-dark textarea::placeholder,
.theme-dark .form-control::placeholder {
    color: rgba(255, 255, 255, 0.5)
}

.theme-dark input:not(.form-check-input):focus,
.theme-dark textarea:focus,
.theme-dark .form-control:focus {
    border-color: white
}

.submit-result span {
    display: none;
    -webkit-transition: ease-out 0.2s;
    transition: ease-out 0.2s
}

.submit-result span.show-result {
    margin-top: 30px;
    display: block
}

.submit-result span#success {
    color: #32cd32
}

.submit-result span#error {
    color: #E32227
}

.submit-result span .error-color {
    background: rgba(255, 0, 0, 0.1)
}

img {
    width: auto;
    max-width: 100%;
    height: auto
}

img[class*='img-mask-avatar'] {
    border-radius: 50%
}

img.img-mask-avatar-sm {
    min-width: 70px;
    width: 70px;
    height: 70px
}

img.img-mask-avatar-md {
    min-width: 90px;
    width: 90px;
    height: 90px
}

img.img-mask-avatar-lg {
    min-width: 110px;
    width: 110px;
    height: 110px
}

ol {
    margin: 0 0 -7px
}

ol li {
    margin: 0 0 7px
}

ul {
    margin: 0 0 -7px
}

ul li {
    margin: 0 0 7px
}

ul li ul,
ul li ol {
    margin-top: 7px
}

ul li a {
    -webkit-transition: linear 0.1s;
    transition: linear 0.1s
}

ul[class*=' list-'],
ul[class^='list-'] {
    padding: 0
}

ul.list-unstyled li,
ul.list-dash li,
ul.list-circle li {
    list-style-type: none
}

ul.list-dash li:before {
    content: '-';
    padding-right: 7px
}

ul.list-dash li ul,
ul.list-dash li ol {
    padding-left: 40px
}

ul.list-circle li {
    position: relative;
    padding-left: 13px
}

ul.list-circle li:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    opacity: 0.7;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    background: black;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    -webkit-transition: linear 0.1s;
    transition: linear 0.1s
}

ul.list-circle li:hover:before {
    opacity: 1
}

ul[class*=' list-inline'] li,
ul[class^='list-inline'] li {
    display: inline-block
}

ul.list-inline-lg {
    margin-right: -14px;
    margin-left: -14px
}

ul.list-inline-lg li {
    padding: 0 14px
}

ul.list-inline {
    margin-right: -7px;
    margin-left: -7px
}

ul.list-inline li {
    padding: 0 7px
}

ul.list-inline-sm {
    margin-right: -3px;
    margin-left: -3px
}

ul.list-inline-sm li {
    padding: 0 3px
}

ul.list-inline-dash li:after {
    content: '-';
    padding: 0 3px 0 6px
}

ul.list-inline-dash li:last-child:after {
    content: '';
    padding: 0
}

ul.list-inline-pills {
    margin: 0
}

ul.list-inline-pills li {
    display: inline-flex;
    align-items: center;
    border: 1px dashed rgba(0, 0, 0, 0.2);
    border-radius: 2em;
    margin: 0 7px 10px 0;
    padding: 0.5em 1em;
    -webkit-transition: linear 0.1s;
    transition: linear 0.1s
}

ul.list-inline-pills li i {
    font-size: 1.2em
}

ul.list-inline-pills li:hover {
    color: black
}

.theme-dark ul.list-inline-pills li {
    border-color: rgba(255, 255, 255, 0.3)
}

.theme-dark ul.list-inline-pills li:hover {
    color: white
}

@media (max-width: 991.98px) {
    ol {
        margin: 0 0 -5px
    }

    ol li {
        margin: 0 0 5px
    }

    ul {
        margin: 0 0 -5px
    }

    ul li {
        margin: 0 0 5px
    }

    ul li ul,
    ul li ol {
        margin-top: 5px
    }

    ul.list-dash li:before {
        content: '-';
        padding-right: 6px
    }

    ul.list-dash li a:hover {
        padding-left: 2px
    }

    ul.list-dash li ul,
    ul.list-dash li ol {
        padding-left: 30px
    }

    ul.list-inline-lg {
        margin-right: -12px;
        margin-left: -12px
    }

    ul.list-inline-lg li {
        padding: 0 12px
    }

    ul.list-inline {
        margin-right: -6px;
        margin-left: -6px
    }

    ul.list-inline li {
        padding: 0 6px
    }

    ul.list-inline-sm {
        margin-right: -2px;
        margin-left: -2px
    }

    ul.list-inline-sm li {
        padding: 0 2px
    }
}

body {
    color: #838485;
    font-family: "Open Sans", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: 0
}

@media (max-width: 991.98px) {
    body {
        font-size: 0.938rem
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    letter-spacing: -0.3px;
    color: black;
    font-family: "Poppins", sans-serif;
    font-weight: 600
}

@media (max-width: 991.98px) {

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin-bottom: 6px
    }
}

p {
    margin: 0;
    line-height: 1.74
}

@media (max-width: 991.98px) {
    p {
        line-height: 1.6
    }
}

.uppercase {
    letter-spacing: 1px;
    text-transform: uppercase
}

.font-small {
    font-size: 0.9em;
    line-height: 1.7
}

@media (max-width: 991.98px) {
    .font-small {
        font-size: 0.9em;
        line-height: 1.7
    }
}

.font-large {
    font-size: 1.063em;
    line-height: 1.6
}

@media (max-width: 991.98px) {
    .font-large {
        font-size: 1.063em
    }
}

.title-heading {
    position: relative;
    padding-top: 16px;
    font-family: "Roboto Mono", monospace;
    font-weight: 500;
    font-size: 0.9em;
    text-transform: uppercase;
    letter-spacing: 0.5px
}

.title-heading:before {
    content: '//';
    padding-right: 8px
}

.title-heading:after {
    content: attr(data-backdrop-text);
    position: absolute;
    bottom: 0;
    left: 0;
    opacity: 0.15;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 2.5rem;
    text-transform: uppercase;
    line-height: 0.9;
    color: black;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black
}

@media (max-width: 1199.98px) {
    .title-heading {
        padding-top: 14px
    }
}

@media (max-width: 991.98px) {
    .title-heading:after {
        font-size: 2rem
    }
}

.theme-dark .title-heading:after {
    color: white;
    -webkit-text-stroke-color: white
}

.mono-heading {
    color: black;
    font-family: "Roboto Mono", monospace;
    font-weight: 500;
    font-size: 0.9em;
    text-transform: uppercase;
    letter-spacing: 0.5px
}

.theme-dark .mono-heading {
    color: white
}

.hover-text {
    -webkit-transition: linear 0.1s;
    transition: linear 0.1s
}

.hover-text:hover {
    color: black
}

.theme-dark .hover-text:hover {
    color: white
}

i {
    display: inline-block
}

.icon-4xl i {
    font-size: 2.4em
}

.icon-3xl i {
    font-size: 2.13em
}

.icon-2xl i {
    font-size: 1.86em
}

.icon-xl i {
    font-size: 1.6em
}

.icon-lg i {
    font-size: 1.33em
}

.icon-sm i {
    font-size: 0.9em
}

a {
    color: rgba(0, 0, 0, 0.7);
    -webkit-transition: linear 0.1s;
    transition: linear 0.1s;
    text-decoration: none
}

a:hover {
    color: black;
    text-decoration: none
}

button {
    background: transparent;
    box-shadow: none;
    border: 0;
    padding: 0;
    cursor: pointer
}

a:focus,
a:active,
button:focus,
button:active {
    box-shadow: none;
    outline: 0
}

.button {
    position: relative;
    display: inline-block;
    overflow: hidden;
    background: black;
    border-radius: 2em;
    padding: 14px 32px;
    color: white;
    font-size: 0.9em;
    font-family: "Roboto Mono", monospace;
    -webkit-transition: ease-out 0.12s;
    transition: ease-out 0.12s
}

.button i {
    margin-right: 8px;
    font-size: 15px
}

.button:hover {
    background: rgba(0, 0, 0, 0.9);
    color: white
}

.button.button-outline {
    background: transparent;
    border: 1px dashed black;
    color: black
}

.button.button-outline:hover {
    background: black;
    color: white
}

.theme-dark .button,
.toggle-menu .button {
    background: rgba(255, 255, 255, 0.15);
    color: white
}

.theme-dark .button:hover,
.toggle-menu .button:hover {
    background: rgba(255, 255, 255, 0.2);
    color: white
}

.theme-dark .button-outline,
.toggle-menu .button-outline {
    background: transparent;
    border: 1px dashed white;
    color: white
}

.theme-dark .button-outline:hover,
.toggle-menu .button-outline:hover {
    background: white;
    color: black
}

.button-sm {
    padding: 10px 22px
}

.button-lg {
    padding: 16px 42px
}

.button-circle {
    display: inline-block;
    width: 50px;
    height: 50px;
    background: black;
    line-height: 50px;
    border-radius: 50%;
    border: 0;
    color: white;
    text-align: center;
    -webkit-transition: ease-out 0.12s;
    transition: ease-out 0.12s
}

.button-circle i {
    line-height: 50px
}

.button-circle:hover {
    background: rgba(0, 0, 0, 0.9);
    color: white
}

.button-circle.button-circle-sm {
    width: 40px;
    height: 40px;
    line-height: 40px
}

.button-circle.button-circle-sm i {
    line-height: 40px
}

.button-circle.button-circle-lg {
    width: 60px;
    height: 60px;
    line-height: 60px
}

.button-circle.button-circle-lg i {
    line-height: 60px
}

.button-circle-outline,
a.button-circle-outline {
    background: transparent;
    border: 1px dashed black;
    color: black
}

.button-circle-outline:hover,
a.button-circle-outline:hover {
    background: black;
    color: white
}

.theme-dark .button-circle,
.theme-dark a.button-circle,
.toggle-menu .button-circle,
.toggle-menu a.button-circle {
    background: rgba(255, 255, 255, 0.15);
    border: 0;
    color: white
}

.theme-dark .button-circle:hover,
.theme-dark a.button-circle:hover,
.toggle-menu .button-circle:hover,
.toggle-menu a.button-circle:hover {
    background: rgba(255, 255, 255, 0.2);
    color: white
}

.theme-dark .button-circle-outline,
.theme-dark a.button-circle-outline,
.toggle-menu .button-circle-outline,
.toggle-menu a.button-circle-outline {
    background: transparent;
    border: 1px dashed white;
    color: white
}

.theme-dark .button-circle-outline:hover,
.theme-dark a.button-circle-outline:hover,
.toggle-menu .button-circle-outline:hover,
.toggle-menu a.button-circle-outline:hover {
    background: white;
    color: black
}

.client-box a img {
    opacity: 0.5;
    width: 100%;
    -webkit-transition: ease-out 0.12s;
    transition: ease-out 0.12s
}

.client-box a:hover img {
    opacity: 1
}

.lightbox-image-box,
.lightbox-media-box {
    position: relative;
    overflow: hidden;
    display: block
}

.lightbox-image-box[class*='border-radius'],
.lightbox-media-box[class*='border-radius'] {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0)
}

.lightbox-image-box:after,
.lightbox-media-box:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.2), transparent);
    -webkit-transition: ease-out 0.16s;
    transition: ease-out 0.16s
}

.lightbox-image-box img,
.lightbox-media-box img {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: transform 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: transform 0.4s cubic-bezier(0.165, 0.84, 0.44, 1)
}

.lightbox-image-box i,
.lightbox-media-box i {
    z-index: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(5px);
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
    line-height: 60px;
    color: rgba(255, 255, 255, 0.9);
    -webkit-transition: ease-out 0.16s;
    transition: ease-out 0.16s
}

.lightbox-image-box.icon-xl i,
.lightbox-image-box.icon-2xl i,
.lightbox-media-box.icon-xl i,
.lightbox-media-box.icon-2xl i {
    width: 70px;
    height: 70px;
    line-height: 70px
}

.lightbox-image-box.icon-3xl i,
.lightbox-image-box.icon-4xl i,
.lightbox-image-box.icon-5xl i,
.lightbox-media-box.icon-3xl i,
.lightbox-media-box.icon-4xl i,
.lightbox-media-box.icon-5xl i {
    width: 80px;
    height: 80px;
    line-height: 80px
}

.lightbox-image-box:hover:after,
.lightbox-media-box:hover:after {
    opacity: 1
}

.lightbox-image-box:hover img,
.lightbox-media-box:hover img {
    -webkit-transform: scale(1.04);
    transform: scale(1.04);
    -webkit-filter: blur(1.5px);
    filter: blur(1.5px)
}

.mfp-bg {
    background: black
}

.mfp-container,
.mfp-bg {
    opacity: 0;
    -webkit-backface-visibility: hidden;
    -webkit-transition: ease-out 0.16s;
    transition: ease-out 0.16s
}

.mfp-container {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
    padding: 0 20px
}

.mfp-ready .mfp-container {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1
}

.mfp-ready.mfp-bg {
    opacity: 0.97
}

.mfp-removing .mfp-container,
.mfp-removing.mfp-bg {
    opacity: 0
}

.mfp-removing .mfp-container {
    -webkit-transform: scale(0.98);
    transform: scale(0.98)
}

button.mfp-close {
    display: block;
    top: -5px;
    opacity: 1;
    width: auto;
    height: auto;
    line-height: auto;
    font-size: 24px;
    -webkit-transition: linear 0.1s;
    transition: linear 0.1s
}

button.mfp-close:hover {
    top: -5px;
    opacity: 1;
    color: #fff
}

.mfp-iframe-holder .mfp-close {
    top: -45px
}

.mfp-iframe-holder .mfp-close:hover {
    top: -45px
}

.mfp-close-btn-in .mfp-close {
    color: rgba(255, 255, 255, 0.7)
}

.mfp-arrow {
    -webkit-transition: linear 0.1s;
    transition: linear 0.1s
}

.mfp-arrow-left:before {
    border-right: 0
}

.mfp-arrow-right:before {
    border-left: 0
}

@media (max-width: 575.98px) {
    button.mfp-arrow {
        background: rgba(0, 0, 0, 0.5);
        width: 70px;
        height: 70px;
        margin-top: -35px
    }

    button.mfp-arrow:active {
        margin-top: -35px
    }

    button.mfp-arrow-left {
        margin-left: 20px
    }

    button.mfp-arrow-left:before,
    button.mfp-arrow-left:after {
        margin-top: 15px;
        margin-left: 20px
    }

    button.mfp-arrow-right {
        margin-right: 20px
    }

    button.mfp-arrow-right:before,
    button.mfp-arrow-right:after {
        margin-top: 15px;
        margin-left: 30px
    }
}

.mfp-bottom-bar {
    margin-top: -30px
}

.mfp-bottom-bar .mfp-title {
    color: rgba(255, 255, 255, 0.7)
}

.mfp-bottom-bar .mfp-counter {
    color: rgba(255, 255, 255, 0.6);
    font-size: 14px
}

.mfp-iframe-scaler iframe,
.mfp-figure::after {
    -webkit-box-shadow: 0 0 14px 0 rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 14px 0 rgba(0, 0, 0, 0.3)
}

.gmap {
    width: 100%
}

.gmap-sm {
    height: 350px
}

.gmap-md {
    height: 400px
}

.gmap-lg {
    height: 450px
}

@media (max-width: 991.98px) {
    .gmap-sm {
        height: 300px
    }

    .gmap-md {
        height: 350px
    }

    .gmap-lg {
        height: 400px
    }
}

.resume-wrapper {
    position: relative;
    padding-left: 20px
}

.resume-wrapper:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    border-left: 1px dashed rgba(0, 0, 0, 0.2)
}

.resume-wrapper i {
    color: black
}

.resume-wrapper .resume-box {
    margin-bottom: 30px
}

.resume-wrapper .resume-box:last-child {
    margin-bottom: 0
}

.resume-wrapper .resume-box .resume-date {
    position: relative;
    display: inline-block;
    border: 1px dashed rgba(0, 0, 0, 0.2);
    border-radius: 2em;
    margin-bottom: 1em;
    padding: 0.5em 1em;
    font-family: "Roboto Mono", monospace;
    font-size: 0.9em;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    font-weight: 500;
    -webkit-transition: linear 0.1s;
    transition: linear 0.1s
}

.resume-wrapper .resume-box .resume-date:before {
    content: '';
    position: absolute;
    top: 50%;
    left: -20px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 20px;
    height: 1px;
    border-top: 1px dashed rgba(0, 0, 0, 0.2)
}

.resume-wrapper .resume-box .resume-date:after {
    content: '';
    position: absolute;
    top: 50%;
    left: -23px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    background: black;
    width: 5px;
    height: 5px;
    border-radius: 50%
}

.resume-wrapper .resume-box:hover .resume-date {
    color: black
}

@media (max-width: 991.98px) {
    .resume-wrapper .resume-box {
        margin-bottom: 24px
    }

    .resume-wrapper .resume-box:last-child {
        margin-bottom: 0
    }
}

.theme-dark .resume-wrapper:before {
    border-color: rgba(255, 255, 255, 0.2)
}

.theme-dark .resume-wrapper i {
    color: white
}

.theme-dark .resume-wrapper .resume-box .resume-date {
    border-color: rgba(255, 255, 255, 0.2)
}

.theme-dark .resume-wrapper .resume-box .resume-date:before {
    border-color: rgba(255, 255, 255, 0.2)
}

.theme-dark .resume-wrapper .resume-box .resume-date:after {
    background: white
}

.theme-dark .resume-wrapper .resume-box:hover .resume-date {
    color: white
}

.services-list {
    margin: 0;
    padding: 0
}

.services-list .services-item {
    list-style-type: none;
    border-top: 1px dashed rgba(0, 0, 0, 0.2)
}

.services-list .services-item:first-child {
    border-top: 0
}

.services-list .services-item .services-title i {
    color: black
}

@media (min-width: 1200px) {
    .services-list .services-item {
        display: flex;
        align-items: center;
        padding: 30px 0
    }

    .services-list .services-item:first-child {
        padding-top: 0
    }

    .services-list .services-item:last-child {
        padding-bottom: 0
    }

    .services-list .services-item .services-number {
        min-width: 90px
    }

    .services-list .services-item .services-number * {
        margin-bottom: 0
    }

    .services-list .services-item .services-title {
        min-width: 270px;
        padding-right: 36px
    }

    .services-list .services-item .services-title * {
        margin-bottom: 0
    }
}

@media (max-width: 1199.98px) {
    .services-list .services-item {
        padding: 20px 0
    }

    .services-list .services-item:first-child {
        padding-top: 0
    }

    .services-list .services-item:last-child {
        padding-bottom: 0
    }

    .services-list .services-item .services-number {
        margin-bottom: 6px
    }
}

.theme-dark .services-list .services-item {
    border-color: rgba(255, 255, 255, 0.2)
}

.theme-dark .services-list .services-item .services-title i {
    color: white
}

.swiper {
    width: 100%;
    height: auto
}

.swiper-custom-prev:focus,
.swiper-custom-next:focus {
    background: transparent;
    color: black
}

.swiper-custom-prev:focus:hover,
.swiper-custom-next:focus:hover {
    background: black;
    color: white
}

.swiper-custom-next {
    margin-left: 6px
}

.theme-dark .swiper-custom-prev:focus,
.theme-dark .swiper-custom-next:focus {
    color: white
}

.theme-dark .swiper-custom-prev:focus:hover,
.theme-dark .swiper-custom-next:focus:hover {
    background: white;
    color: black
}

.testimonial-box {
    position: relative;
    padding-top: 16px;
    padding-left: 16px
}

.testimonial-box:before {
    content: '\f10e';
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 0.1;
    font-family: "Font Awesome 6 Free";
    font-size: 3rem;
    font-weight: 900;
    line-height: 1
}

.theme-dark .testimonial-box:before {
    opacity: 0.13;
    color: white
}

.blog-post-box .blog-post-img {
    position: relative;
    overflow: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    border-radius: 0.5em
}

.blog-post-box .blog-post-img img {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: transform 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: transform 0.4s cubic-bezier(0.165, 0.84, 0.44, 1)
}

.blog-post-box .blog-post-img .blog-post-category {
    position: absolute;
    top: 16px;
    left: 16px;
    background: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(5px);
    border-radius: 2em;
    padding: 0.5em 1em;
    color: white;
    font-family: "Roboto Mono", monospace;
    font-weight: 400;
    font-size: 0.9em;
    text-transform: uppercase;
    letter-spacing: 0.5px
}

.blog-post-box .blog-post-img .blog-post-category a {
    color: white
}

.blog-post-box .blog-post-img .blog-post-category a:hover {
    color: white
}

.blog-post-box .blog-post-img:hover img {
    -webkit-transform: scale(1.04);
    transform: scale(1.04);
    -webkit-filter: blur(1.5px);
    filter: blur(1.5px)
}

@media (min-width: 1200px) {
    .blog-post-box {
        display: inline-flex;
        align-items: center;
        margin-bottom: 24px
    }

    .blog-post-box:last-child {
        margin-bottom: 0
    }

    .blog-post-box .blog-post-img {
        display: inline-block
    }

    .blog-post-box .blog-post-img img {
        width: 340px
    }

    .blog-post-box .blog-post-caption {
        display: inline-block;
        padding-left: 30px
    }
}

@media (max-width: 1199.98px) {
    .blog-post-box {
        margin-bottom: 40px
    }

    .blog-post-box:last-child {
        margin-bottom: 0
    }

    .blog-post-box .blog-post-img img {
        width: 100%
    }

    .blog-post-box .blog-post-caption {
        padding-top: 20px
    }
}

@media (max-width: 991.98px) {
    .blog-post-box {
        margin-bottom: 30px
    }

    .blog-post-box:last-child {
        margin-bottom: 0
    }
}

.filter ul {
    margin: 0;
    padding: 0
}

.filter ul li {
    position: relative;
    display: inline-block;
    border: 1px dashed black;
    border-radius: 2em;
    margin: 0 7px 10px 0;
    padding: 0.5em 1em;
    font-size: 0.9em;
    font-family: "Roboto Mono", monospace;
    color: black;
    cursor: pointer;
    -webkit-transition: linear 0.1s;
    transition: linear 0.1s
}

.filter ul li:hover,
.filter ul li.mixitup-control-active {
    background: black;
    color: white
}

.theme-dark .filter ul li {
    border-color: white;
    color: white
}

.theme-dark .filter ul li:hover,
.theme-dark .filter ul li.mixitup-control-active {
    background: white;
    color: black
}

.portfolio-box {
    position: relative;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    overflow: hidden;
    border-radius: 0.5em
}

.portfolio-box:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.3), transparent);
    width: 100%;
    height: 100%;
    -webkit-transition: ease-out 0.16s;
    transition: ease-out 0.16s
}

.portfolio-box img {
    -webkit-transform: scale(1);
    transform: scale(1);
    width: 100%;
    -webkit-transition: transform 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: transform 0.4s cubic-bezier(0.165, 0.84, 0.44, 1)
}

.portfolio-box .portfolio-category {
    position: absolute;
    top: 16px;
    right: 16px;
    display: inline-block;
    background: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(5px);
    border-radius: 2em;
    padding: 0.5em 1em;
    color: white;
    font-family: "Roboto Mono", monospace;
    font-weight: 400;
    font-size: 0.9em;
    text-transform: uppercase;
    letter-spacing: 0.5px
}

.portfolio-box .portfolio-caption {
    z-index: 1;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    visibility: hidden;
    opacity: 0;
    margin-bottom: -6px;
    padding: 0 30px 24px;
    -webkit-transition: ease-out 0.16s;
    transition: ease-out 0.16s
}

.portfolio-box .portfolio-caption * {
    margin: 0;
    color: white;
    font-weight: 600;
    letter-spacing: 0.5px;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
    -webkit-transition: linear 0.06s;
    transition: linear 0.06s
}

.portfolio-box .portfolio-caption *:hover {
    text-shadow: 0 0 white
}

.portfolio-box:hover:after {
    opacity: 1
}

.portfolio-box:hover img {
    -webkit-transform: scale(1.04);
    transform: scale(1.04);
    -webkit-filter: blur(1.5px);
    filter: blur(1.5px)
}

.portfolio-box:hover .portfolio-caption {
    visibility: visible;
    opacity: 1;
    margin-bottom: 0
}

body:after {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    z-index: 998;
    background: black;
    width: 100%;
    height: 100%
}

body.loaded:after {
    display: none
}

.preloader {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    visibility: visible;
    opacity: 1;
    background: black;
    width: 100%;
    height: 100%;
    text-align: center
}

.preloader div {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    display: flex;
    font-family: "Roboto Mono", monospace;
    font-weight: 400;
    text-transform: uppercase;
    color: white
}

.preloader div span {
    opacity: 1;
    display: inline-block;
    padding: 0 8px;
    -webkit-transition: linear 0.1s;
    transition: linear 0.1s;
    -webkit-animation: loader 1s linear infinite;
    animation: loader 1s linear infinite
}

.preloader div span:nth-child(2) {
    -webkit-animation-delay: .1s;
    animation-delay: .1s
}

.preloader div span:nth-child(3) {
    -webkit-animation-delay: .2s;
    animation-delay: .2s
}

.preloader div span:nth-child(4) {
    -webkit-animation-delay: .3s;
    animation-delay: .3s
}

.preloader div span:nth-child(5) {
    -webkit-animation-delay: .4s;
    animation-delay: .4s
}

.preloader div span:nth-child(6) {
    -webkit-animation-delay: .5s;
    animation-delay: .5s
}

.preloader div span:nth-child(7) {
    -webkit-animation-delay: .6s;
    animation-delay: .6s
}

.loaded .preloader {
    visibility: hidden;
    opacity: 0;
    -webkit-transition: ease-out 0.4s;
    transition: ease-out 0.4s
}

@-webkit-keyframes loader {
    0% {
        opacity: 1
    }

    100% {
        opacity: 0
    }
}

@keyframes loader {
    0% {
        opacity: 1
    }

    100% {
        opacity: 0
    }
}

.section-nav {
    background: black;
    border-radius: 0.5em;
    padding: 1.7em 2.5em
}

.section-nav ul {
    margin: 0;
    padding: 0
}

.section-nav ul li {
    list-style-type: none;
    position: relative;
    margin: 0;
    padding: 0
}

.section-nav ul li a,
.section-nav ul li button {
    position: relative;
    display: block;
    color: rgba(255, 255, 255, 0.7);
    font-size: 0.9rem;
    font-family: "Roboto Mono", monospace;
    font-weight: 400;
    text-transform: uppercase;
    -webkit-transition: linear 0.1s;
    transition: linear 0.1s
}

.section-nav ul li a:focus,
.section-nav ul li button:focus {
    color: rgba(255, 255, 255, 0.7)
}

.section-nav ul li a:hover,
.section-nav ul li a.active,
.section-nav ul li button:hover,
.section-nav ul li button.active {
    color: white
}

.theme-dark .section-nav {
    background: #1c1e20
}

@media (min-width: 992px) {
    .nav-wrapper {
        -webkit-position: sticky;
        position: sticky;
        top: 24px
    }

    .section-nav ul li {
        width: 100%
    }

    .section-nav ul li a,
    .section-nav ul li button {
        width: 100%;
        padding: 0.8rem 0;
        text-align: left;
        letter-spacing: 0.5px
    }

    .section-nav ul li a:hover .nav-circle:before,
    .section-nav ul li a.active .nav-circle:before,
    .section-nav ul li button:hover .nav-circle:before,
    .section-nav ul li button.active .nav-circle:before {
        opacity: 1
    }

    .section-nav ul li a.active,
    .section-nav ul li button.active {
        letter-spacing: 1px
    }

    .section-nav ul li a.active .nav-circle:before,
    .section-nav ul li button.active .nav-circle:before {
        background: transparent;
        width: 30px;
        height: 30px;
        -webkit-animation: translateRotate 10s linear infinite;
        animation: translateRotate 10s linear infinite
    }

    .section-nav ul li .nav-link-mobile {
        display: none
    }

    .section-nav ul li .nav-circle {
        display: inline-block;
        position: absolute;
        top: 50%;
        right: 0;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%)
    }

    .section-nav ul li .nav-circle:before {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        opacity: 0.7;
        background: white;
        width: 5px;
        height: 5px;
        border: 1px dashed white;
        border-radius: 50%;
        -webkit-transition: ease-out 0.2s;
        transition: ease-out 0.2s
    }
}

@media (max-width: 991.98px) {
    .nav-wrapper {
        position: relative;
        height: 57px
    }

    .section-nav {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        padding: 0.7em;
        -webkit-transition: linear 0.1s;
        transition: linear 0.1s
    }

    .section-nav.fixed {
        z-index: 994;
        position: fixed;
        top: 8px;
        right: 12px;
        left: 12px;
        background: rgba(0, 0, 0, 0.9)
    }

    .section-nav ul {
        justify-content: center
    }

    .section-nav ul li {
        display: inline-block;
        width: auto
    }

    .section-nav ul li .nav-link-desktop {
        display: none
    }

    .section-nav ul li .nav-circle {
        display: none
    }

    .section-nav ul li a,
    .section-nav ul li button {
        position: relative;
        display: block;
        width: 36px;
        height: 36px;
        padding: 0;
        color: rgba(255, 255, 255, 0.7);
        text-align: center;
        line-height: 36px
    }

    .section-nav ul li a:before,
    .section-nav ul li button:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        -webkit-transform: scale(0.6);
        transform: scale(0.6);
        opacity: 0;
        width: 100%;
        height: 100%;
        border: 1px dashed white;
        border-radius: 50%;
        -webkit-transition: ease-out 0.14s;
        transition: ease-out 0.14s
    }

    .section-nav ul li a:hover,
    .section-nav ul li a.active,
    .section-nav ul li button:hover,
    .section-nav ul li button.active {
        color: white
    }

    .section-nav ul li a.active,
    .section-nav ul li button.active {
        letter-spacing: 1px
    }

    .section-nav ul li a.active:before,
    .section-nav ul li button.active:before {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1;
        -webkit-animation: scaleRotate 10s linear infinite;
        animation: scaleRotate 10s linear infinite
    }
}

@-webkit-keyframes translateRotate {
    0% {
        -webkit-transform: translate(-50%, -50%) rotate(0);
        transform: translate(-50%, -50%) rotate(0)
    }

    100% {
        -webkit-transform: translate(-50%, -50%) rotate(360deg);
        transform: translate(-50%, -50%) rotate(360deg)
    }
}

@keyframes translateRotate {
    0% {
        -webkit-transform: translate(-50%, -50%) rotate(0);
        transform: translate(-50%, -50%) rotate(0)
    }

    100% {
        -webkit-transform: translate(-50%, -50%) rotate(360deg);
        transform: translate(-50%, -50%) rotate(360deg)
    }
}

@-webkit-keyframes scaleRotate {
    0% {
        -webkit-transform: scale(1) rotate(0);
        transform: scale(1) rotate(0)
    }

    100% {
        -webkit-transform: scale(1) rotate(360deg);
        transform: scale(1) rotate(360deg)
    }
}

@keyframes scaleRotate {
    0% {
        -webkit-transform: scale(1) rotate(0);
        transform: scale(1) rotate(0)
    }

    100% {
        -webkit-transform: scale(1) rotate(360deg);
        transform: scale(1) rotate(360deg)
    }
}

.menu-dots {
    position: relative;
    z-index: 994;
    display: inline-block;
    background: black;
    width: 50px;
    height: 50px;
    margin-left: 24px;
    border-bottom-right-radius: 0.5em 0.5em;
    border-bottom-left-radius: 0.5em 0.5em
}

.menu-dots span {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%) scale(1);
    transform: translate(-50%, -50%) scale(1);
    display: inline-block;
    background: white;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    -webkit-transition: linear 0.1s;
    transition: linear 0.1s
}

.menu-dots span:before {
    content: '';
    position: absolute;
    top: 0;
    right: calc(100% + 5px);
    background: white;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    -webkit-transition: linear 0.1s;
    transition: linear 0.1s
}

.menu-dots span:after {
    content: '';
    position: absolute;
    top: 0;
    left: calc(100% + 5px);
    background: white;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    -webkit-transition: linear 0.1s;
    transition: linear 0.1s
}

.menu-dots:hover span,
.menu-dots.active span {
    -webkit-transform: translate(-50%, -50%) scale(3);
    transform: translate(-50%, -50%) scale(3);
    -webkit-transition-delay: .1s;
    transition-delay: .1s
}

.menu-dots:hover span:before,
.menu-dots.active span:before {
    opacity: 0;
    right: 0
}

.menu-dots:hover span:after,
.menu-dots.active span:after {
    opacity: 0;
    left: 0
}

.theme-dark .menu-dots {
    background: #1c1e20
}

.toggle-menu {
    z-index: 995;
    position: fixed;
    top: 0;
    right: -10px;
    bottom: 0;
    visibility: hidden;
    opacity: 0;
    background: black;
    width: 400px;
    height: 100%;
    height: auto;
    padding: 50px 40px;
    -webkit-transition: ease-out 0.16s;
    transition: ease-out 0.16s;
    color: rgba(255, 255, 255, 0.7)
}

.toggle-menu h1,
.toggle-menu h2,
.toggle-menu h3,
.toggle-menu h4,
.toggle-menu h5,
.toggle-menu h6 {
    color: white
}

.toggle-menu h1 a,
.toggle-menu h2 a,
.toggle-menu h3 a,
.toggle-menu h4 a,
.toggle-menu h5 a,
.toggle-menu h6 a {
    color: rgba(255, 255, 255, 0.8)
}

.toggle-menu h1 a:hover,
.toggle-menu h1 a:focus,
.toggle-menu h2 a:hover,
.toggle-menu h2 a:focus,
.toggle-menu h3 a:hover,
.toggle-menu h3 a:focus,
.toggle-menu h4 a:hover,
.toggle-menu h4 a:focus,
.toggle-menu h5 a:hover,
.toggle-menu h5 a:focus,
.toggle-menu h6 a:hover,
.toggle-menu h6 a:focus {
    color: white
}

.toggle-menu a:not([class*='button'], .link-decoration, .nav-link) {
    color: rgba(255, 255, 255, 0.8)
}

.toggle-menu a:not([class*='button'], .link-decoration, .nav-link):hover,
.toggle-menu a:not([class*='button'], .link-decoration, .nav-link):focus {
    color: white
}

.toggle-menu ul.list-circle li:before {
    background: white
}

.toggle-menu.show {
    right: 0;
    visibility: visible;
    opacity: 1
}

.toggle-menu .toggle-close {
    position: absolute;
    top: 16px;
    right: 16px;
    display: inline-block;
    background: rgba(255, 255, 255, 0.15);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    line-height: 40px;
    color: white;
    text-align: center;
    font-size: 1.33em;
    -webkit-transition: ease-out 0.16s;
    transition: ease-out 0.16s
}

.toggle-menu .toggle-close:hover {
    background: rgba(255, 255, 255, 0.2)
}

.toggle-menu .tm-bottom {
    position: absolute;
    right: 40px;
    bottom: 48px;
    left: 40px
}

.theme-dark .toggle-menu {
    background: #1c1e20;
    -webkit-box-shadow: 0 8px 26px 0 rgba(0, 0, 0, 0.3);
    box-shadow: 0 8px 26px 0 rgba(0, 0, 0, 0.3)
}

@media (max-width: 991.98px) {
    .toggle-menu {
        width: 350px;
        padding: 50px 30px 30px
    }

    .toggle-menu .toggle-close {
        top: 12px;
        right: 12px
    }

    .toggle-menu .tm-bottom {
        right: 30px;
        bottom: 48px;
        left: 30px
    }
}

@media (max-width: 575.98px) {
    .toggle-menu {
        width: 100%
    }
}

.bg-gray {
    background: #f2f5f8
}

.bg-dark {
    background: #1c1e20
}

.bg-black {
    background: black
}

.bg-white {
    background: white
}

.font-family-primary {
    font-family: "Open Sans", sans-serif
}

.font-family-secondary {
    font-family: "Poppins", sans-serif
}

.font-family-mono {
    font-family: "Roboto Mono", monospace
}

.fw-thin {
    font-weight: 100
}

.fw-medium {
    font-weight: 500
}

.fw-semi-bold {
    font-weight: 600
}

.fw-black {
    font-weight: 900
}

.letter-spacing-05 {
    letter-spacing: 0.5px
}

.letter-spacing-1 {
    letter-spacing: 1px
}

.letter-spacing-2 {
    letter-spacing: 2px
}

.letter-spacing-3 {
    letter-spacing: 3px
}

.letter-spacing-4 {
    letter-spacing: 4px
}

.line-height-100 {
    line-height: 1
}

.line-height-110 {
    line-height: 1.1
}

.line-height-120 {
    line-height: 1.2
}

.line-height-130 {
    line-height: 1.3
}

.line-height-140 {
    line-height: 1.4
}

*.text-white-09 {
    color: rgba(255, 255, 255, 0.9)
}

*.text-white-08 {
    color: rgba(255, 255, 255, 0.8)
}

*.text-white-07 {
    color: rgba(255, 255, 255, 0.7)
}

*.text-white-06 {
    color: rgba(255, 255, 255, 0.6)
}

*.text-white-05 {
    color: rgba(255, 255, 255, 0.5)
}

*.text-white-04 {
    color: rgba(255, 255, 255, 0.4)
}

*.text-white-03 {
    color: rgba(255, 255, 255, 0.3)
}

*.text-white-02 {
    color: rgba(255, 255, 255, 0.2)
}

*.text-white-01 {
    color: rgba(255, 255, 255, 0.1)
}

*.text-black {
    color: black
}

*.text-black-09 {
    color: rgba(0, 0, 0, 0.9)
}

*.text-black-08 {
    color: rgba(0, 0, 0, 0.8)
}

*.text-black-07 {
    color: rgba(0, 0, 0, 0.7)
}

*.text-black-06 {
    color: rgba(0, 0, 0, 0.6)
}

*.text-black-05 {
    color: rgba(0, 0, 0, 0.5)
}

*.text-black-04 {
    color: rgba(0, 0, 0, 0.4)
}

*.text-black-03 {
    color: rgba(0, 0, 0, 0.3)
}

*.text-black-02 {
    color: rgba(0, 0, 0, 0.2)
}

*.text-black-01 {
    color: rgba(0, 0, 0, 0.1)
}

*.text-primary {
    color: #838485
}

*.text-green {
    color: #32cd32
}

*.text-red {
    color: #E32227
}

*.text-yellow {
    color: #FFB657
}

.stroke-text {
    color: black;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 1.4px;
    -webkit-text-stroke-color: black
}

@media (max-width: 1199.98px) {
    .stroke-text {
        -webkit-text-stroke-width: 1.2px
    }
}

.theme-dark .stroke-text {
    color: white;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-color: white
}