<div id="home">
  <div class="home-content">
    <div class="img">
      <div class="img">
        <img src="../../assets/hero3.gif" class="image">
      </div>
      <div class="name">VINCE CYRIAC</div>
      <div class="designation">Designer & Developer</div>
      <p class="text-center">My strength lies in my hybrid of design and Development. 
        I solve problems with a developer's mind and a designer's eye.</p>
      <!-- <p class="summary text-center">My strength lies in my hybrid of design and Development - I solve problems with a developer's mind and a designer's eye.</p> -->
      <div class="social">
        <div class="btn_wrap">
          <span>Follow Me</span>
          <div class="container">
            <a href="https://www.linkedin.com/in/vince-cyriac-182335175/" target="_blank"><i class="fa fa-linkedin"></i></a>
            <a href="https://github.com/vincecyriac" target="_blank"><i class="fa fa-github"></i></a>
            <a href="https://www.instagram.com/vincecyriac" target="_blank"><i class="fa fa-instagram"></i></a>
            <a href="https://dribbble.com/vincecyriac" target="_blank"><i class="fa fa-dribbble"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
